/*  Navigator:-
    ===========
    - Global Rules
    - Normalize
    - Header
    - Main
*/
/* Break Point: 50rem, 60rem */

/* - Normalize */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
a {
  display: block;
  width: fit-content;
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}

/* - Global Rules */
body {
  font-family: "Be Vietnam Pro", sans-serif;
  line-height: 1.6;
  background-image: url("assets/images/background/bg-tablet-pattern.svg"),
    url("assets/images/background/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: min(100%, 40rem) auto, min(80%, 20rem) auto;
  background-position: calc(100% + 6rem) -6%, calc(100% + 10rem) 100vmin;
  min-height: 200vh;
}
@media (min-width: 50rem) {
  body {
    background-size: clamp(50rem, 60vw, 60rem) auto;
    background-position: max(50vw, 110%) -10vw, -45vh 100vh;
  }
}
.container {
  width: min(75rem, 95vw);
  padding-inline: 1.5rem;
  margin: 0 auto;
}
.get-started {
  font-size: 0.8rem;
  color: #fff;
  font-weight: 700;
  padding: 1em 2.5em;
  border-radius: 5em;
  background-color: hsl(12, 88%, 59%);
  box-shadow: 0 1.2em 0.6em -0.8em hsl(12, 93%, 89%);
  transition: background-color 0.3s;
}
.get-started:hover {
  background-color: hsl(12, 96%, 82%);
}

/*  ========
    - Header
    ========  */
header {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 50rem) {
  header {
    padding: 4rem 0;
  }
}
header .get-started {
  display: none;
}
@media (min-width: 50rem) {
  header .get-started {
    display: block;
  }
}
nav img {
  cursor: pointer;
  z-index: 15;
  position: relative; /* To Appear In Front Of Absolute Background */
}
@media (min-width: 50rem) {
  nav img {
    display: none;
  }
}
nav ul {
  /* Position */
  position: fixed;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 12;
  /* Self Style */
  width: 90vw;
  background-color: #fff;
  border-radius: 0.3rem;
  display: none;
  /* Children Position */
  flex-direction: column;
  align-items: center;
  gap: 1.8em;
  padding: 3rem 1rem;
  /* Children Style */
  font-weight: 700;
}
nav.opened ul {
  display: flex !important;
}
@media (min-width: 50rem) {
  nav ul {
    /* Position */
    position: static;
    transform: unset;
    /* Self Style */
    width: auto;
    background-color: transparent;
    border-radius: 0;
    /* Children Position */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    /* Children Style */
    font-size: 0.85rem;
    font-weight: 500;
  }
}
/* Mobile Navigation shadow */
nav::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  background-image: linear-gradient(#0000, #0005);
  z-index: 10;
}
nav.opened::before {
  height: 100%;
}
nav li a {
  color: hsl(228, 39%, 23%);
}
nav li:hover a {
  color: hsl(227, 12%, 61%);
}

/*  ======
    - Main
    ======  */
main {
  text-align: center;
}
@media (min-width: 60rem) {
  main {
    padding-top: 3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: row-reverse;
    text-align: left;
  }
}
main img {
  max-width: 100%;
  flex-grow: 0;
}
h1 {
  line-height: 1.2;
  font-size: 2.2rem;
  color: hsl(228, 39%, 23%);
  white-space: balance;
}
@media (min-width: 60rem) {
  h1 {
    font-size: 3.2rem;
  }
}
main p {
  color: hsl(227, 12%, 61%);
  margin-top: 1rem;
  white-space: balance;
}
@media (min-width: 60rem) {
  main p {
    max-width: 22rem;
  }
}
main .get-started {
  margin: 2rem auto 0;
}
@media (min-width: 60rem) {
  main .get-started {
    margin-left: 0;
  }
}
